html, * {
    box-sizing: border-box;
    font-family: 'Impact', Arial;
  }
  
  body {
    height: 100%;
    font-size: 8vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(156, 149, 142);
  }
  
 #choice1, #choice2, #choice3 {
   border: 2vmin solid rgb(22, 2, 2);
   display: inline-grid;
   border-radius: 25px;
   font-size: 10vmin;
   outline: 5px;
   height: 90px;
   width: 180px;
 }

 img {
  border-radius: 10px;
  height: 60px;
  width: 150px; 
 }
 
 main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
  
  button {
    grid-column: span 3;
    margin: 10px;
    background-color: rgb(48, 118, 223);
    color: black;
    border: 1vmin solid black;
    border-radius: 4vmin;
    font-size: 4vmin;
    outline: none;
  }
  
  button:hover {
    background-color: black;
    color: rgb(29, 39, 167);
  }

  #scoreOfWin, #scoreOfLoss, #winOrLoss {
  color: black;
  border: 2vmin solid black;
  border-radius: 10px;
  font-size: 4vmin;
  outline: 5px;
  height: 60px;
  width: 100px;
  text-align: center;
  }

  #wOL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  }

  #scoreOfWin {
    background-color: green;
  }

  #scoreOfLoss {
    background-color: red
  }
  
  