html, * {
    box-sizing: border-box;
    font-family: helvetica, Arial;
  }
  
  body {
    height: 100%;
    font-size: 8vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 99, 33);
  }
  
 #result1, #result2, #result3 {
   border: 2vmin solid white;
   display: inline-grid;
 }
 
 main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
  
  button {
    grid-column: span 3;
    margin: 2vmin;
    background-color: rgb(48, 118, 223);
    color: black;
    border: 1vmin solid black;
    border-radius: 4vmin;
    font-size: 4vmin;
    outline: none;
  }
  
  button:hover {
    background-color: black;
    color: rgb(119, 12, 12);
  }

  #scoreOfWin, #scoreOfLoss, #winOrLoss {
  margin: 2vmin;
  color: black;
  border: 2vmin solid black;
  border-radius: px;
  font-size: 4vmin;
  outline: 5px;
  height: 60px;
  width: 200px;
  }

  #wOL {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  
  